
#map {
	width:100%;
	height:270px;
}

#list,#list2,#list_colec,#list_users, #arrastrar, #desc3, #usuarios, #mostrar{
    overflow-y: scroll;
	max-height: 380px; 
}

#carousel{
	max-height: 200px;
	max-width: 200px;
}

#arrastrar{ width: 250px; height: 200px; padding: 0.5em; float: left; margin: 10px; }
#usuarios { width: 250px; height: 90px; padding: 0.5em; float: left; margin: 10px; }